# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. Julia
4. SQL
5. Scala
6. SAS
7. MATLAB
8. Java

Some of the commonly used libraries used by Data Scientists include:
1. dplyr
2. ggplot2
3. tidyr
4. scikit-learn (Python)
5. pandas (Python)
6. NumPy (Python)
7. TensorFlow (Python)
8. PyTorch (Python)
9. Matplotlib (Python)
10. Keras (Python)
11. H2O (R)
12. caret (R)
13. xgboost (R)

| Data Science Tools   |
|----------------------|
| R                    |
| Python               |
| Jupyter Notebooks    |
| Tableau              |
| Power BI             |
| KNIME                |
| RapidMiner           |
| Orange               |

### Below are a few examples of evaluating arithmetic expressions in R.

In [3]:
# This is a simple arithmetic expression to multiply then add integers
result <- (3 * 4) + 5
result

[1] 17

In [4]:
# This will convert 200 minutes to hours by dividing by 60
hours <- 200 / 60
hours

[1] 3.333333

**Objectives:**
- List popular languages for Data Science
- Introduce commonly used libraries
- Create a table of Data Science tools

## Author
Ben Patrick